<section class="blog about-blog">
        <div class="container">
            <div class="blog-heading about-heading">
                <h1 class="heading">Order</h1>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about-section">
                <div class="row align-items-center gy-5">
                    <div class="col-lg-6">
                        <div class="about-img" data-aos="fade-right">
                            <img src="./images/cart.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content" data-aos="fade-up">
                            <h3 class="about-title">Thank you for your purchase!</h3>
                            <p class="about-info">
                                You will recieve an order confirmation in your inbox soon! 
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>